/* INICIO SEÇÃO CONTATO */
.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    height: 30rem;
    width: 60%;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.contato-left {
    width: 35%;
    background:
        linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
        url('/images/contato.jpg');
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.contato-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
    border-radius: 0 10px 10px 0;
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    border-bottom: 2px dashed #636363;
    outline: none;
    margin: 1rem 0;
}

.input-group textarea {
    padding-top: 1rem;
    max-width: 20rem;
    min-width: 20rem;
    max-height: 8rem;
    min-height: 3rem;
}

.field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    transition: all .5s;
}

.field:focus~label {
    top: 0;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 1px solid;
}

.btn-submit {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}
/* FINAL SEÇÃO CONTATO */